cd-generator/src/test/resources/test_GettingStarted_CD_Shipper_CHOReVOLUTION_STUDIO/wsdls/Carrier.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2015 The CHOReVOLUTION project

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://eu.chorevolution.gettingstarted/services/carrier"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://eu.chorevolution.gettingstarted/services/carrier"
             name="CarrierService">
    <types>
    <xsd:schema version="1.0" targetNamespace="http://eu.chorevolution.gettingstarted/services/carrier">
        <xsd:element name="deliveryPlanElementRequest" type="tns:deliveryPlan"/>
	  	<xsd:complexType name="deliveryPlan">
	   		<xsd:sequence>
	           <xsd:element name="trackingNumber" type="xsd:string"/>    
	           <xsd:element name="packagesNumber" type="xsd:int"/> 
	 	  	   <xsd:sequence maxOccurs="unbounded" minOccurs="1">
	           		<xsd:element name="packagesDetails" type="tns:packageDetails"/>	         		       		  	   		
	 	  	   </xsd:sequence>           			
	       	   <xsd:element name="address" type="tns:addressDetails"/>    
	           <xsd:element name="deliveryService" type="tns:deliveryServiceType"/>   	  	   
	           <xsd:element name="departureDate" type="xsd:date"/>	  
	           <xsd:element name="arrivalDate" type="xsd:date"/>	                        		
	   		</xsd:sequence>
	   	</xsd:complexType>
	  	<xsd:complexType name="packageDetails">
	        <xsd:sequence>
	            <xsd:element name="id" type="xsd:int"/>        
	            <xsd:element name="weight" type="xsd:double"/>
	            <xsd:element name="dimensions" type="tns:dimensionsType"/>            
	        </xsd:sequence>
	    </xsd:complexType>  
	  	<xsd:complexType name="dimensionsType">
	        <xsd:sequence>
	            <xsd:element name="width" type="xsd:double"/>
	            <xsd:element name="height" type="xsd:double"/>            
	            <xsd:element name="depth" type="xsd:double"/>                
	        </xsd:sequence>  	
	  	</xsd:complexType>  
	    <xsd:complexType name="addressDetails">
	        <xsd:sequence>
	            <xsd:element name="city" type="xsd:string"/>       
	            <xsd:element name="street" type="xsd:string"/>
	            <xsd:element name="postcode" type="xsd:int"/>            
	        </xsd:sequence>
	    </xsd:complexType>			
		<xsd:simpleType name="deliveryServiceType">
			<xsd:restriction base="xsd:string">
	    		<xsd:enumeration value="morning"/>		
	    		<xsd:enumeration value="afternoon"/>    		  		
			</xsd:restriction>
		</xsd:simpleType>   	  	 	   	 	    	  		    		      	  			  	   			    	    	   		   	 			   	            	   		       
    </xsd:schema>
    </types>    
    <message name="deliveryPlanMessageRequest">
        <part name="parameters" element="tns:deliveryPlanElementRequest"/>
    </message>   
    <portType name="CarrierPT">    
        <operation name="arrangeDelivery">
            <input wsam:Action="http://eu.chorevolution.gettingstarted/carrier/deliveryPlan" message="tns:deliveryPlanMessageRequest"/>          
        </operation> 		 			
    </portType> 
    <binding name="CarrierBinding" type="tns:CarrierPT">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>   
	    <operation name="arrangeDelivery">
	    	<soap:operation soapAction=""/>
	        <input>
	        	<soap:body use="literal"/>
	      	</input>	      	
	    </operation> 	    
    </binding>
    <service name="CarrierService">
      <port name="CarrierPort" binding="tns:CarrierBinding">
          <soap:address location="http://localhost:9090/Carrier/Carrier"></soap:address>
      </port>
    </service>
</definitions>