cd-generator/src/test/resources/test_WP4_SEADA_V2_CD_SEADA-SEARP_CHOReVOLUTION_STUDIO/wsdls/cdND.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cdnd" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.seada/cdnd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://eu.chorevolution.urbantrafficcoordination.seada/cdnd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.seada/cdnd" xmlns="http://eu.chorevolution.urbantrafficcoordination.seada/cdnd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="waypoint">
        <xsd:sequence>
            <xsd:element name="lat" type="xsd:double"/>
            <xsd:element name="lon" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="weatherCondition">
        <xsd:sequence>
            <xsd:element name="roadTemperature" type="xsd:double"/>
            <xsd:element name="airTemperature" type="xsd:double"/>
            <xsd:element name="airRelativeHumidity" type="xsd:double"/>
            <xsd:element name="windForce" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="waypointInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="waypoint" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegment">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="time" type="xsd:int"/>
            <xsd:element name="distance" type="xsd:int"/>
            <xsd:element name="polyline" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegmentInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="routeSegment" type="routeSegment"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="updatedAt" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="route">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegments" type="routeSegment"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegmentInfo" type="routeSegmentInfo"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoRoutesRequest">
        <xsd:sequence>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoFriendlyRoutesInformationRequest">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="route"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routesRequest">
        <xsd:sequence>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routesSuggestion">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="route"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="trafficRouteInformationRequest">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="route"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="trafficRouteInformationResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routesInfo" type="routeInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoFriendlyRoutesInformationResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="routeInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoRoutesResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="routeInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoSpeedRouteInformationRequest">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="routeSegment" type="routeSegment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoSpeedRouteInformationResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routeSegmentInfo" type="routeSegmentInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoRoutesRequestType">
        <xsd:sequence>
            <xsd:element name="messageData" type="ecoRoutesRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoRoutesRequestElementRequest" type="ecoRoutesRequestType"/>
    <xsd:complexType name="choreographyInstanceRequest">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoRoutesResponseReturnType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="messageData" type="ecoRoutesResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoRoutesResponseElementResponse" type="ecoRoutesResponseReturnType"/>
    <xsd:complexType name="ecoRoutesResponseType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="messageData" type="ecoRoutesResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoRoutesResponseElementRequest" type="ecoRoutesResponseType"/>
    <xsd:complexType name="ecoSpeedRouteInformationRequestType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="messageData" type="ecoSpeedRouteInformationRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoSpeedRouteInformationRequestElementRequest" type="ecoSpeedRouteInformationRequestType"/>
    <xsd:complexType name="ecoSpeedRouteInformationResponseReturnType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="messageData" type="ecoSpeedRouteInformationResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoSpeedRouteInformationResponseElementResponse" type="ecoSpeedRouteInformationResponseReturnType"/>
    <xsd:complexType name="ecoSpeedRouteInformationResponseType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="messageData" type="ecoSpeedRouteInformationResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoSpeedRouteInformationResponseElementRequest" type="ecoSpeedRouteInformationResponseType"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ecoRoutesResponseMessageRequest">
    <wsdl:part name="parameters" element="tns:ecoRoutesResponseElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ecoSpeedRouteInformationResponseMessageRequest">
    <wsdl:part name="parameters" element="tns:ecoSpeedRouteInformationResponseElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ecoSpeedRouteInformationResponseMessageResponse">
    <wsdl:part name="parameters" element="tns:ecoSpeedRouteInformationResponseElementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ecoSpeedRouteInformationRequestMessageRequest">
    <wsdl:part name="parameters" element="tns:ecoSpeedRouteInformationRequestElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ecoRoutesRequestMessageRequest">
    <wsdl:part name="parameters" element="tns:ecoRoutesRequestElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ecoRoutesResponseMessageResponse">
    <wsdl:part name="parameters" element="tns:ecoRoutesResponseElementResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SEADA-SEATSANDPT">
    <wsdl:operation name="setEcoSpeedRouteInformation">
      <wsdl:input message="tns:ecoSpeedRouteInformationResponseMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="NDPT">
    <wsdl:operation name="getEcoRoutes">
      <wsdl:input message="tns:ecoRoutesRequestMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:ecoRoutesResponseMessageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEcoSpeedRouteInformation">
      <wsdl:input message="tns:ecoSpeedRouteInformationRequestMessageRequest">
    </wsdl:input>
      <wsdl:output message="tns:ecoSpeedRouteInformationResponseMessageResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SEADA-SEARPNDPT">
    <wsdl:operation name="setEcoRoutes">
      <wsdl:input message="tns:ecoRoutesResponseMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SEADA-SEARPNDBinding" type="tns:SEADA-SEARPNDPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setEcoRoutes">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NDBinding" type="tns:NDPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEcoRoutes">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEcoSpeedRouteInformation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SEADA-SEATSANDBinding" type="tns:SEADA-SEATSANDPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setEcoSpeedRouteInformation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SEADA-SEATSANDService">
    <wsdl:port name="SEADA-SEATSANDPort" binding="tns:SEADA-SEATSANDBinding">
      <soap:address location="http://localhost:8080/ode/processes/SEADA-SEATSAND"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="SEADA-SEARPNDService">
    <wsdl:port name="SEADA-SEARPNDPort" binding="tns:SEADA-SEARPNDBinding">
      <soap:address location="http://localhost:8080/ode/processes/SEADA-SEARPND"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="NDService">
    <wsdl:port name="NDPort" binding="tns:NDBinding">
      <soap:address location="http://localhost:8080/ode/processes/ND"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
