cd-generator/src/test/resources/test_WP5_CD-TouristAgent/wsdls/news.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="NewsService" 
  targetNamespace="http://it.softeco.chorevolution.smt/news" 
  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:wsp="http://www.w3.org/ns/ws-policy" 
  xmlns:tns="http://it.softeco.chorevolution.smt/news" 
  xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/news">	
	  	<xsd:element name="getInfoNewsRequest" type="tns:getInfoNewsRequest"/>
	  	<xsd:element name="getInfoNewsResponse" type="tns:getInfoNewsResponse"/>     
        <xsd:complexType name="getInfoNewsRequest">    
  		<xsd:sequence>
  				<xsd:element name="session" type="xsd:string"/>
        </xsd:sequence>
	    </xsd:complexType>
      <xsd:complexType name="getInfoNewsResponse">
        <xsd:sequence >
        		<xsd:element name="session" type="xsd:string"/>
        		<xsd:element maxOccurs="unbounded" minOccurs="0" name="InfoItem" type="tns:NewsInfoItemType"/>
        </xsd:sequence>
      </xsd:complexType>  
	<xsd:complexType name="NewsInfoItemType">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string"/>
			<xsd:element name="issueDate" type="xsd:string"/>
			<xsd:element name="location" type="xsd:string"/>
			<xsd:element name="validityDate" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>	          
    </xsd:schema>
  </types>
  <message name="getInfoNewsRequest">
    <part name="parameters" element="tns:getInfoNewsRequest">
    </part>
  </message>
  <message name="getInfoNewsResponse">
    <part name="parameters" element="tns:getInfoNewsResponse">
    </part>
  </message>
  <portType name="NewsPT">
    <operation name="getInfo">
      <input message="tns:getInfoNewsRequest">
    </input>
      <output message="tns:getInfoNewsResponse">
    </output>
    </operation>
  </portType>
  <binding name="NewsBinding" type="tns:NewsPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NewsService">
    <port name="NewsPort" binding="tns:NewsBinding">
      <soap:address location="http://localhost:9090/news/news"/>
    </port>
  </service>
</definitions>
