cd-generator/src/test/resources/test_WP5_CD-TripPlanner_CHOReVOLUTION_STUDIO/wsdls/Weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WeatherService" 
            targetNamespace="http://it.softeco.chorevolution.smt/weather" 
            xmlns="http://schemas.xmlsoap.org/wsdl/" 
            xmlns:wsp="http://www.w3.org/ns/ws-policy" 
            xmlns:tns="http://it.softeco.chorevolution.smt/weather" 
            xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" 
            xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" 
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
            xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/weather">
	  	<xsd:element name="weatherInformationRequest" type="tns:weatherInformationRequest"/>
	  	<xsd:element name="weatherInformationResponse" type="tns:weatherInformationResponse"/>
	    <xsd:complexType name="weatherInformationRequest">
	        <xsd:sequence>
			      <xsd:element name="period" type="xsd:int"/>
      		</xsd:sequence>
	    </xsd:complexType>
        <xsd:complexType name="weatherInformationResponse">
        	<xsd:sequence>
        	     <xsd:element name="status" type="xsd:string"/>
        		 <xsd:element maxOccurs="unbounded" minOccurs="0" name="docs" type="tns:weatherType"/>
        	</xsd:sequence>
        </xsd:complexType> 
        <xsd:element name="weatherInfoByAreaRequest">
        	<xsd:complexType>
        		<xsd:sequence>
        			<xsd:element name="session" type="xsd:string"/>
        			<xsd:element name="period" type="xsd:int"/>
        			<xsd:element name="lat" type="xsd:double"/>
		      	 	<xsd:element name="lon" type="xsd:double"/>
     	 			<xsd:element name="tag" type="xsd:string"/>
     	 			<xsd:element name="radius" type="xsd:double"/>
        		</xsd:sequence>
        	</xsd:complexType>
        </xsd:element>
        <xsd:element name="weatherInfoByAreaResponse">
        	<xsd:complexType>
        		<xsd:sequence>
					 <xsd:element name="status" type="xsd:string"/>
        			 <xsd:element maxOccurs="unbounded" minOccurs="0" name="docs" type="tns:weatherType"/>
        		</xsd:sequence>
        	</xsd:complexType>
        </xsd:element>
        <xsd:complexType name="weatherType">
          <xsd:sequence>
            <xsd:element name="latitude" type="xsd:double" />
            <xsd:element name="longitude" type="xsd:double" />
            <xsd:element name="temperature" type="xsd:double" />
            <xsd:element name="pressure" type="xsd:double" />
            <xsd:element name="observation_time" type="xsd:string" />
            <xsd:element name="humidity" type="xsd:int" />
            <xsd:element name="creation_date" type="xsd:string" />
            <xsd:element name="elevation" type="xsd:double" />
            <xsd:element name="rain" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>        
    </xsd:schema>
  </types>
  <message name="weatherInfoByAreaRequest">
    <part name="parameters" element="tns:weatherInfoByAreaRequest">
    </part>
  </message>
  <message name="weatherInformationRequest">
    <part name="parameters" element="tns:weatherInformationRequest">
    </part>
  </message>
  <message name="weatherInfoByAreaResponse">
    <part name="parameters" element="tns:weatherInfoByAreaResponse">
    </part>
  </message>
  <message name="weatherInformationResponse">
    <part name="parameters" element="tns:weatherInformationResponse">
    </part>
  </message>
  <portType name="WeatherPT">
    <operation name="weatherInformation">
      <input message="tns:weatherInformationRequest" wsam:Action="http://it.softeco.chorevolution.smt/weather/weatherInformationRequest">
    </input>
      <output message="tns:weatherInformationResponse" wsam:Action="http://it.softeco.chorevolution.smt/weather/weatherInformationResponse">
    </output>
    </operation>
    <operation name="weatherInfoByArea">
      <input message="tns:weatherInfoByAreaRequest">
    </input>
      <output message="tns:weatherInfoByAreaResponse">
    </output>
    </operation>
  </portType>
  <binding name="WeatherBinding" type="tns:WeatherPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="weatherInformation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="weatherInfoByArea">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="WeatherService">
    <port name="WeatherPort" binding="tns:WeatherBinding">
      <soap:address location="http://localhost:9090/weather/weather"/>
    </port>
  </service>
</definitions>
