cd-generator/src/test/resources/test_WP5_V2_CD-MobilityInformationPlanner_CHOReVOLUTION_STUDIO/wsdls/journeyplanner.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="JourneyPlanner"
	targetNamespace="http://it.softeco.chorevolution.smt/journeyplanner"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://it.softeco.chorevolution.smt/journeyplanner"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/journeyplanner">
			<xsd:element name="tripsRequest" type="tns:tripsRequest" />
			<xsd:element name="tripsResponse" type="tns:tripsResponse" />
			<xsd:complexType name="tripsRequest">
				<xsd:sequence>
					<xsd:element name="fromLat" type="xsd:double" />
					<xsd:element name="fromLon" type="xsd:double" />
					<xsd:element name="toLat" type="xsd:double" />
					<xsd:element name="toLon" type="xsd:double" />
					<xsd:element name="transportMode" type="tns:modes" />
					<xsd:element name="startAt" nillable="true" type="xsd:dateTime" />
					<xsd:element name="endAt" nillable="true" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="modes">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="Walk" />
					<xsd:enumeration value="Bicycle" />
					<xsd:enumeration value="PublicTransport" />
					<xsd:enumeration value="Car" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="tripsResponse">
				<xsd:sequence>
					<xsd:element name="from" type="xsd:string" />
					<xsd:element name="to" type="xsd:string" />
					<xsd:element name="trips" maxOccurs="unbounded"
						minOccurs="0" type="tns:TripsType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TripsType">
				<xsd:sequence>
					<xsd:element name="distance" type="xsd:int" />
					<xsd:element name="duration" type="xsd:int" />
					<xsd:sequence maxOccurs="unbounded" minOccurs="0">
						<xsd:element name="segments" type="tns:SegmentType" />
					</xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="SegmentType">
				<xsd:sequence>
					<xsd:element name="distance" type="xsd:int" />
					<xsd:element name="duration" type="xsd:int" />
					<xsd:element name="transportType" type="tns:modes" />
					<xsd:element name="manouevres" maxOccurs="unbounded"
						minOccurs="0" type="xsd:string" />
					<xsd:element name="dropInNode" minOccurs="0" type="xsd:string" />
					<xsd:element name="dropOffNode" minOccurs="0" type="xsd:string" />
					<xsd:element name="line" minOccurs="0" type="xsd:string" />
					<xsd:element name="vehicleDirection" minOccurs="0"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="tripsRequest">
		<part name="parameters" element="tns:tripsRequest">
		</part>
	</message>
	<message name="tripsResponse">
		<part name="parameters" element="tns:tripsResponse">
		</part>
	</message>
	<portType name="JourneyPlannerPT">
		<operation name="getTripsInformation">
			<input message="tns:tripsRequest">
			</input>
			<output message="tns:tripsResponse">
			</output>
		</operation>
	</portType>
	<binding name="JourneyPlannerBinding" type="tns:JourneyPlannerPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getTripsInformation">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="JourneyPlannerService">
		<port name="JourneyPlannerPort" binding="tns:JourneyPlannerBinding">
			<soap:address location="http://localhost:9090/journeyplanner/journeyplanner" />
		</port>
	</service>
</definitions>
