adapter-generator/src/test/resources/WP5/bcPersonalWeatherStations.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="bcPersonalWeatherStations"
	targetNamespace="http://eu.chorevolution.bc/bcPersonalWeatherStations"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://eu.chorevolution.bc/bcPersonalWeatherStations"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<types>
		<xsd:schema targetNamespace="http://eu.chorevolution.bc/bcPersonalWeatherStations">
			<xsd:element name="ItemService" type="tns:ItemService" />
			<xsd:element name="ItemServiceResponse" type="tns:ItemServiceResponse" />

			<xsd:complexType name="p">
				<xsd:sequence>
					<xsd:element name="t" type="xsd:int"  />
					<xsd:element name="x" type="xsd:double"  />
					<xsd:element name="y" type="xsd:double"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ItemServiceResponse">
				<xsd:sequence>
					<xsd:element name="outputDataType" type="tns:outputDataType"  maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ItemService">
				<xsd:sequence>
					<xsd:element name="inputDataType" type="tns:inputDataType"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="outputDataType">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"  />
					<xsd:element name="gt" type="xsd:int"  />
					<xsd:element name="t" type="xsd:int"  />
					<xsd:element name="p" type="tns:p"  />
					<xsd:element name="n" type="xsd:string"  />
					<xsd:element name="ds" type="xsd:string"  />
					<xsd:element name="u" type="xsd:string"  />
					<xsd:element name="adr" type="xsd:string"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="inputDataType">
				<xsd:sequence>
					<xsd:element name="urLat" type="xsd:double"  />
					<xsd:element name="urLon" type="xsd:double"  />
					<xsd:element name="llLat" type="xsd:double"  />
					<xsd:element name="llLon" type="xsd:double"  />
					<xsd:element name="type" type="xsd:int"  />
					<xsd:element name="s" type="xsd:string"  />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>
	<message name="ItemService">
		<part name="parameters" element="tns:ItemService">
		</part>
	</message>
	<message name="ItemServiceResponse">
		<part name="parameters" element="tns:ItemServiceResponse">
		</part>
	</message>
	<portType name="bcPersonalWeatherStationsPT">
		<operation name="ItemService">
			<input message="tns:ItemService">
			</input>
			<output message="tns:ItemServiceResponse">
			</output>
		</operation>
	</portType>
	<binding name="bcPersonalWeatherStationsBinding" type="tns:bcPersonalWeatherStationsPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="ItemService">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="bcPersonalWeatherStationsService">
		<port name="bcPersonalWeatherStationsPort" binding="tns:bcPersonalWeatherStationsBinding">
			<soap:address location="http://localhost:9090/bcPersonalWeatherStations/bcPersonalWeatherStations" />
		</port>
	</service>
</definitions>
