adapter-generator/src/test/resources/WP5/bcPoi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="bcPoi"
	targetNamespace="http://eu.chorevolution.bc/bcPoi"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://eu.chorevolution.bc/bcPoi"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<types>
		<xsd:schema targetNamespace="http://eu.chorevolution.bc/bcPoi">
			<xsd:element name="pws" type="tns:pws" />
			<xsd:element name="pwsResponse" type="tns:pwsResponse" />

			<xsd:complexType name="p">
				<xsd:sequence>
					<xsd:element name="t" type="xsd:int"  />
					<xsd:element name="x" type="xsd:double"  />
					<xsd:element name="y" type="xsd:double"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="outputDataType">
				<xsd:sequence>
					<xsd:element name="c" type="xsd:int"  />
					<xsd:element name="objs" type="tns:objs"  maxOccurs="unbounded"/>
					<xsd:element name="pi" type="xsd:int"  />
					<xsd:element name="ps" type="xsd:int"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="pwsResponse">
				<xsd:sequence>
					<xsd:element name="outputDataType" type="tns:outputDataType"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="pws">
				<xsd:sequence>
					<xsd:element name="inputDataType" type="tns:inputDataType"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="inputDataType">
				<xsd:sequence>
					<xsd:element name="llLat" type="xsd:double"  />
					<xsd:element name="llLon" type="xsd:double"  />
					<xsd:element name="urLat" type="xsd:double"  />
					<xsd:element name="urLon" type="xsd:double"  />
					<xsd:element name="type" type="xsd:int"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="objs">
				<xsd:sequence>
					<xsd:element name="id" type="xsd:string"  />
					<xsd:element name="gt" type="xsd:int"  />
					<xsd:element name="t" type="xsd:int"  />
					<xsd:element name="p" type="tns:p"  />
					<xsd:element name="n" type="xsd:string"  />
					<xsd:element name="ds" type="xsd:string"  />
					<xsd:element name="u" type="xsd:string"  />
					<xsd:element name="adr" type="xsd:string"  />
					<xsd:element name="ed" type="xsd:string"  />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>
	<message name="pws">
		<part name="parameters" element="tns:pws">
		</part>
	</message>
	<message name="pwsResponse">
		<part name="parameters" element="tns:pwsResponse">
		</part>
	</message>
	<portType name="bcPoiPT">
		<operation name="pws">
			<input message="tns:pws">
			</input>
			<output message="tns:pwsResponse">
			</output>
		</operation>
	</portType>
	<binding name="bcPoiBinding" type="tns:bcPoiPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="pws">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="bcPoiService">
		<port name="bcPoiPort" binding="tns:bcPoiBinding">
			<soap:address location="http://localhost:9090/bcPoi/bcPoi" />
		</port>
	</service>
</definitions>
