adapter-generator/src/test/resources/WP5/bcTraffic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="bcTraffic"
	targetNamespace="http://eu.chorevolution.bc/bcTraffic"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://eu.chorevolution.bc/bcTraffic"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">

	<types>
		<xsd:schema targetNamespace="http://eu.chorevolution.bc/bcTraffic">
			<xsd:element name="getMetadataInArea" type="tns:getMetadataInArea" />
			<xsd:element name="getMetadataInAreaResponse" type="tns:getMetadataInAreaResponse" />

			<xsd:complexType name="getMetadataInAreaResponse">
				<xsd:sequence>
					<xsd:element name="outputDataType" type="tns:outputDataType"  maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="getMetadataInArea">
				<xsd:sequence>
					<xsd:element name="inputDataType" type="tns:inputDataType"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="outputDataType">
				<xsd:sequence>
					<xsd:element name="d" type="xsd:int"  />
					<xsd:element name="desc" type="xsd:string"  />
					<xsd:element name="dty" type="xsd:int"  />
					<xsd:element name="e" type="xsd:string"  />
					<xsd:element name="l" type="xsd:string"  />
					<xsd:element name="n" type="xsd:string"  />
					<xsd:element name="p" type="xsd:string"  />
					<xsd:element name="s" type="xsd:string"  />
					<xsd:element name="ty" type="xsd:int"  />
					<xsd:element name="v" type="xsd:string"  />
					<xsd:element name="x" type="xsd:double"  />
					<xsd:element name="y" type="xsd:double"  />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="inputDataType">
				<xsd:sequence>
					<xsd:element name="urLat" type="xsd:double"  />
					<xsd:element name="urLon" type="xsd:double"  />
					<xsd:element name="llLat" type="xsd:double"  />
					<xsd:element name="llLon" type="xsd:double"  />
				</xsd:sequence>
			</xsd:complexType>

		</xsd:schema>
	</types>
	<message name="getMetadataInArea">
		<part name="parameters" element="tns:getMetadataInArea">
		</part>
	</message>
	<message name="getMetadataInAreaResponse">
		<part name="parameters" element="tns:getMetadataInAreaResponse">
		</part>
	</message>
	<portType name="bcTrafficPT">
		<operation name="getMetadataInArea">
			<input message="tns:getMetadataInArea">
			</input>
			<output message="tns:getMetadataInAreaResponse">
			</output>
		</operation>
	</portType>
	<binding name="bcTrafficBinding" type="tns:bcTrafficPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getMetadataInArea">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="bcTrafficService">
		<port name="bcTrafficPort" binding="tns:bcTrafficBinding">
			<soap:address location="http://localhost:9090/bcTraffic/bcTraffic" />
		</port>
	</service>
</definitions>
