cd-generator/src/test/resources/test_WP4_SEADA_CD_SEADA-TRAFFIC_CHOReVOLUTION_STUDIO/wsdls/bcDTS-ACCIDENTS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2015 The CHOReVOLUTION project

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://eu.chorevolution.urbantrafficcoordination.seada/bc/dtsaccidents"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:wsp="http://www.w3.org/ns/ws-policy"
             xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             targetNamespace="http://eu.chorevolution.urbantrafficcoordination.seada/bc/dtsaccidents"
             name="DTS-ACCIDENTS">
    <types>
    <xsd:schema version="1.0" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.seada/bc/dtsaccidents">
        <xsd:element name="accidentInformationRequestElementRequest" type="tns:accidentInformationRequest"/>
        <xsd:element name="accidentInformationResponseElementResponse" type="tns:accidentInformationResponse"/>       
		<xsd:complexType name="accidentInformationRequest">
		    <xsd:sequence>  
		        <xsd:element name="lat" type="xsd:double"/>
		        <xsd:element name="lon" type="xsd:double"/>	        
		    </xsd:sequence>
		</xsd:complexType>
		<xsd:complexType name="accidentInformationResponse">      
		    <xsd:sequence maxOccurs="unbounded" minOccurs="1">
		    	<xsd:element name="accidents" type="tns:accidentInformationData"/>
		    </xsd:sequence>
		</xsd:complexType> 
		<xsd:complexType name="accidentInformationData">      
		    <xsd:sequence>
		    	<xsd:element name="accidentInformation" type="tns:accidentInformation"/>		    
		    </xsd:sequence>
		</xsd:complexType>    			 		
		<xsd:complexType name="accidentInformation">      
			<xsd:sequence>        
		        <xsd:element name="longitude" type="xsd:double"/>
		        <xsd:element name="latitude" type="xsd:double"/>		        			        
		        <xsd:element name="messageCodeValue" type="xsd:string"/>
		        <xsd:element name="messageTypeValue" type="xsd:string"/>
		        <xsd:element name="severityCode" type="xsd:string"/>
		        <xsd:element name="description" type="xsd:string"/>					
			</xsd:sequence> 
		</xsd:complexType>  	           
    </xsd:schema>
    </types>    
    <message name="accidentInformationRequestMessageRequest">
        <part name="parameters" element="tns:accidentInformationRequestElementRequest"/>
    </message>
    <message name="accidentInformationResponseMessageResponse">
        <part name="parameters" element="tns:accidentInformationResponseElementResponse"/>
    </message>
    <portType name="DTS-ACCIDENTSPT">
        <operation name="waypointAccidentInformation">
            <input message="tns:accidentInformationRequestMessageRequest"/>
            <output message="tns:accidentInformationResponseMessageResponse"/>
        </operation>
    </portType> 
    <binding name="DTS-ACCIDENTSBinding" type="tns:DTS-ACCIDENTSPT">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
	      <operation name="waypointAccidentInformation">
	          <soap:operation soapAction=""/>
		      <input>
	              <soap:body use="literal"/>
		      </input>
		      <output>
	              <soap:body use="literal"/>
		      </output>
	      </operation>
    </binding>
    <service name="DTS-ACCIDENTSService">
      <port name="DTS-ACCIDENTSPort" binding="tns:DTS-ACCIDENTSBinding">
          <soap:address location="http://localhost:9090/bcDTS-ACCIDENTS/bcDTS-ACCIDENTS"></soap:address>
      </port>
    </service>
</definitions>