cd-generator/src/test/resources/test_WP4_TrafficAreaInformationCollection_CD_SEADA-TRAFFIC_CHOReVOLUTION_STUDIO/wsdls/cdDTS-SEGMENT-TRAFFIC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cddtssegmenttraffic" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cddtssegmenttraffic" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cddtssegmenttraffic" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cddtssegmenttraffic" xmlns="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cddtssegmenttraffic" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="waypoint">
        <xsd:sequence>
            <xsd:element name="lat" type="xsd:double"/>
            <xsd:element name="lon" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="weatherCondition">
        <xsd:sequence>
            <xsd:element name="roadTemperature" type="xsd:double"/>
            <xsd:element name="airTemperature" type="xsd:double"/>
            <xsd:element name="airRelativeHumidity" type="xsd:double"/>
            <xsd:element name="windForce" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="waypointInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="waypoint" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegment">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="time" type="xsd:int"/>
            <xsd:element name="distance" type="xsd:int"/>
            <xsd:element name="polyline" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegmentInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="routeSegment" type="routeSegment"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="updatedAt" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="route">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegments" type="routeSegment"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegmentInfo" type="routeSegmentInfo"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaOfInterestRequest">
        <xsd:sequence>
            <xsd:element name="areaName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaSegmentsRequest">
        <xsd:sequence>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaSegmentsResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="areaSegments" type="routeSegment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentTrafficInformationRequest">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentInformationRequest">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentAccidentInformationResponse">
        <xsd:sequence>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="accidents" type="accidentInfo"/>
            </xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="accidentInfo">
        <xsd:sequence>
            <xsd:element name="accidentInformation" type="accidentInformation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="accidentInformation">
        <xsd:sequence>
            <xsd:element name="longitude" type="xsd:double"/>
            <xsd:element name="latitude" type="xsd:double"/>
            <xsd:element name="messageCodeValue" type="xsd:string"/>
            <xsd:element name="messageTypeValue" type="xsd:string"/>
            <xsd:element name="severityCode" type="xsd:int"/>
            <xsd:element name="description" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentBridgeInformationResponse">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="bridgeStatus" type="xsd:boolean"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="closureStatus" type="closureStatus"/>
            <xsd:element name="nextClosure" type="nextClosure"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="closureStatus">
        <xsd:sequence>
            <xsd:element name="isClosed" type="xsd:boolean"/>
            <xsd:element name="opensAtTimeMillis" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="nextClosure">
        <xsd:sequence>
            <xsd:element name="fromMillis" type="xsd:long"/>
            <xsd:element name="toMillis" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentCongestionInformationResponse">
        <xsd:sequence>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentWeatherInformationResponse">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentTrafficInformationResponse">
        <xsd:sequence>
            <xsd:element name="segment" type="routeSegmentInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaTrafficInformation">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="areaSegmentsTrafficInfo" type="routeSegmentInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="choreographyInstanceRequest">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentTrafficInformationRequestType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="loopIndexes" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="segmentTrafficInformationRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="segmentTrafficInformationRequestElementRequest" type="segmentTrafficInformationRequestType"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="segmentTrafficInformationRequestMessageRequest">
    <wsdl:part name="parameters" element="tns:segmentTrafficInformationRequestElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SEADA-TRAFFICDTS-SEGMENT-TRAFFICPT">
    <wsdl:operation name="getSegmentTrafficInformation">
      <wsdl:input message="tns:segmentTrafficInformationRequestMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SEADA-TRAFFICDTS-SEGMENT-TRAFFICBinding" type="tns:SEADA-TRAFFICDTS-SEGMENT-TRAFFICPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSegmentTrafficInformation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SEADA-TRAFFICDTS-SEGMENT-TRAFFICService">
    <wsdl:port name="SEADA-TRAFFICDTS-SEGMENT-TRAFFICPort" binding="tns:SEADA-TRAFFICDTS-SEGMENT-TRAFFICBinding">
      <soap:address location="http://localhost:8080/ode/processes/SEADA-TRAFFICDTS-SEGMENT-TRAFFIC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
