cd-generator/src/test/resources/test_WP4_SEADA_V2_CD_ND_CHOReVOLUTION_STUDIO/wsdls/cdSEADA-SEARP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cdseadasearp" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.seada/cdseadasearp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://eu.chorevolution.urbantrafficcoordination.seada/cdseadasearp" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.seada/cdseadasearp" xmlns="http://eu.chorevolution.urbantrafficcoordination.seada/cdseadasearp" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="waypoint">
        <xsd:sequence>
            <xsd:element name="lat" type="xsd:double"/>
            <xsd:element name="lon" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="weatherCondition">
        <xsd:sequence>
            <xsd:element name="roadTemperature" type="xsd:double"/>
            <xsd:element name="airTemperature" type="xsd:double"/>
            <xsd:element name="airRelativeHumidity" type="xsd:double"/>
            <xsd:element name="windForce" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="waypointInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="waypoint" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegment">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="time" type="xsd:int"/>
            <xsd:element name="distance" type="xsd:int"/>
            <xsd:element name="polyline" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegmentInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="routeSegment" type="routeSegment"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="updatedAt" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="route">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegments" type="routeSegment"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegmentInfo" type="routeSegmentInfo"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoRoutesRequest">
        <xsd:sequence>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoFriendlyRoutesInformationRequest">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="route"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routesRequest">
        <xsd:sequence>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routesSuggestion">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="route"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="trafficRouteInformationRequest">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="route"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="trafficRouteInformationResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routesInfo" type="routeInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoFriendlyRoutesInformationResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="routeInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoRoutesResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routes" type="routeInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoSpeedRouteInformationRequest">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="routeSegment" type="routeSegment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoSpeedRouteInformationResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="routeSegmentInfo" type="routeSegmentInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="choreographyInstanceRequest">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ecoRoutesRequestType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="ecoRoutesRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoRoutesRequestElementRequest" type="ecoRoutesRequestType"/>
    <xsd:complexType name="ecoFriendlyRoutesInformationResponseType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="ecoFriendlyRoutesInformationResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ecoFriendlyRoutesInformationResponseElementRequest" type="ecoFriendlyRoutesInformationResponseType"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="ecoRoutesRequestMessageRequest">
    <wsdl:part name="parameters" element="tns:ecoRoutesRequestElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ecoFriendlyRoutesInformationResponseMessageRequest">
    <wsdl:part name="parameters" element="tns:ecoFriendlyRoutesInformationResponseElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="NDSEADA-SEARPPT">
    <wsdl:operation name="getEcoRoutes">
      <wsdl:input message="tns:ecoRoutesRequestMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SEADA-SEATSASEADA-SEARPPT">
    <wsdl:operation name="setEcoFriendlyRoutesInformation">
      <wsdl:input message="tns:ecoFriendlyRoutesInformationResponseMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NDSEADA-SEARPBinding" type="tns:NDSEADA-SEARPPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getEcoRoutes">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SEADA-SEATSASEADA-SEARPBinding" type="tns:SEADA-SEATSASEADA-SEARPPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setEcoFriendlyRoutesInformation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SEADA-SEATSASEADA-SEARPService">
    <wsdl:port name="SEADA-SEATSASEADA-SEARPPort" binding="tns:SEADA-SEATSASEADA-SEARPBinding">
      <soap:address location="http://localhost:8080/ode/processes/SEADA-SEATSASEADA-SEARP"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="NDSEADA-SEARPService">
    <wsdl:port name="NDSEADA-SEARPPort" binding="tns:NDSEADA-SEARPBinding">
      <soap:address location="http://localhost:8080/ode/processes/NDSEADA-SEARP"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
