cd-generator/src/test/resources/test_WP5_V2_CD-TourismInformationPlanner_CHOReVOLUTION_STUDIO/wsdls/news.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="News" targetNamespace="http://it.softeco.chorevolution.smt/news"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://it.softeco.chorevolution.smt/news" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/news">
			<xsd:element name="latestNewsRequest" type="tns:latestNewsRequest" />
			<xsd:element name="latestNewsResponse" type="tns:latestNewsResponse" />
			<xsd:complexType name="latestNewsRequest">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="lat" type="xsd:double"/>
					<xsd:element name="lon" type="xsd:double"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="latestNewsResponse">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="events" type="tns:NewsType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NewsType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="latestNewsRequest">
		<part name="parameters" element="tns:latestNewsRequest">
		</part>
	</message>
	<message name="latestNewsResponse">
		<part name="parameters" element="tns:latestNewsResponse">
		</part>
	</message>
	<portType name="NewsPT">
		<operation name="getLatestNews">
			<input message="tns:latestNewsRequest">
			</input>
			<output message="tns:latestNewsResponse">
			</output>
		</operation>
	</portType>
	<binding name="NewsBinding" type="tns:NewsPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getLatestNews">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="NewsService">
		<port name="NewsPort" binding="tns:NewsBinding">
			<soap:address location="http://localhost:9090/news/news" />
		</port>
	</service>
</definitions>
