cd-generator/src/test/resources/test_WP5_V2_CD-TourismInformationPlanner_CHOReVOLUTION_STUDIO/wsdls/poi.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Poi" targetNamespace="http://it.softeco.chorevolution.smt/poi"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://it.softeco.chorevolution.smt/poi" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/poi">
			<xsd:element name="poiRequest" type="tns:poiRequest" />
			<xsd:element name="poiResponse" type="tns:poiResponse" />
			<xsd:complexType name="poiRequest">
				<xsd:sequence>
					<xsd:element name="upperRightLat" type="xsd:double" />
					<xsd:element name="upperRightLon" type="xsd:double" />
					<xsd:element name="lowerLeftLat" type="xsd:double" />
					<xsd:element name="lowerLeftLon" type="xsd:double" />
					<xsd:element name="type" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="poiResponse">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="pois" type="tns:PoiType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PoiType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="lat" type="xsd:double" />
					<xsd:element name="lon" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="poiRequest">
		<part name="parameters" element="tns:poiRequest">
		</part>
	</message>
	<message name="poiResponse">
		<part name="parameters" element="tns:poiResponse">
		</part>
	</message>
	<portType name="PoiPT">
		<operation name="getPoiList">
			<input message="tns:poiRequest">
			</input>
			<output message="tns:poiResponse">
			</output>
		</operation>
	</portType>
	<binding name="PoiBinding" type="tns:PoiPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getPoiList">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="PoiService">
		<port name="PoiPort" binding="tns:PoiBinding">
			<soap:address location="http://localhost:9090/poi/poi" />
		</port>
	</service>
</definitions>
