cd-generator/src/test/resources/test_WP4_TrafficAreaInformationCollection_CD_Traffic_Information_Collector_CHOReVOLUTION_STUDIO/wsdls/cdSEADA-TRAFFIC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="cdseadatraffic" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cdseadatraffic" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cdseadatraffic" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <wsdl:types>
    <xsd:schema elementFormDefault="unqualified" targetNamespace="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cdseadatraffic" xmlns="http://eu.chorevolution.urbantrafficcoordination.trafficinformationcollection/cdseadatraffic" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="waypoint">
        <xsd:sequence>
            <xsd:element name="lat" type="xsd:double"/>
            <xsd:element name="lon" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="weatherCondition">
        <xsd:sequence>
            <xsd:element name="roadTemperature" type="xsd:double"/>
            <xsd:element name="airTemperature" type="xsd:double"/>
            <xsd:element name="airRelativeHumidity" type="xsd:double"/>
            <xsd:element name="windForce" type="xsd:double"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="waypointInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="waypoint" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegment">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="instruction" type="xsd:string"/>
            <xsd:element name="time" type="xsd:int"/>
            <xsd:element name="distance" type="xsd:int"/>
            <xsd:element name="polyline" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeSegmentInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="routeSegment" type="routeSegment"/>
            <xsd:element name="bridgeStatus" type="xsd:int"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="ecoValue" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="updatedAt" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="route">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegments" type="routeSegment"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="routeInfo">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int"/>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
            <xsd:element name="routePolyline" type="xsd:string"/>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="routeSegmentInfo" type="routeSegmentInfo"/>
            </xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaOfInterestRequest">
        <xsd:sequence>
            <xsd:element name="areaName" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaSegmentsRequest">
        <xsd:sequence>
            <xsd:element name="origin" type="waypoint"/>
            <xsd:element name="destination" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaSegmentsResponse">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="areaSegments" type="routeSegment"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentTrafficInformationRequest">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentInformationRequest">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentAccidentInformationResponse">
        <xsd:sequence>
            <xsd:sequence maxOccurs="unbounded">
                <xsd:element name="accidents" type="accidentInfo"/>
            </xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="situationInfo" type="xsd:string"/>
            <xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="accidentInfo">
        <xsd:sequence>
            <xsd:element name="accidentInformation" type="accidentInformation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="accidentInformation">
        <xsd:sequence>
            <xsd:element name="longitude" type="xsd:double"/>
            <xsd:element name="latitude" type="xsd:double"/>
            <xsd:element name="messageCodeValue" type="xsd:string"/>
            <xsd:element name="messageTypeValue" type="xsd:string"/>
            <xsd:element name="severityCode" type="xsd:int"/>
            <xsd:element name="description" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentBridgeInformationResponse">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="bridgeStatus" type="xsd:boolean"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="closureStatus" type="closureStatus"/>
            <xsd:element name="nextClosure" type="nextClosure"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="closureStatus">
        <xsd:sequence>
            <xsd:element name="isClosed" type="xsd:boolean"/>
            <xsd:element name="opensAtTimeMillis" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="nextClosure">
        <xsd:sequence>
            <xsd:element name="fromMillis" type="xsd:long"/>
            <xsd:element name="toMillis" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentCongestionInformationResponse">
        <xsd:sequence>
            <xsd:element name="speed" type="xsd:double"/>
            <xsd:element name="congestion" type="xsd:double"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentWeatherInformationResponse">
        <xsd:sequence>
            <xsd:element name="waypoint0" type="waypoint"/>
            <xsd:element name="waypoint1" type="waypoint"/>
            <xsd:element name="type" type="xsd:string"/>
            <xsd:element name="weatherInfo" type="weatherCondition"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="segmentTrafficInformationResponse">
        <xsd:sequence>
            <xsd:element name="segment" type="routeSegmentInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaTrafficInformation">
        <xsd:sequence maxOccurs="unbounded">
            <xsd:element name="areaSegmentsTrafficInfo" type="routeSegmentInfo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="choreographyInstanceRequest">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="areaOfInterestRequestType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="areaOfInterestRequest"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="areaOfInterestRequestElementRequest" type="areaOfInterestRequestType"/>
    <xsd:complexType name="segmentTrafficInformationResponseType">
        <xsd:sequence>
            <xsd:element name="choreographyId" type="choreographyInstanceRequest"/>
            <xsd:element name="senderParticipantName" type="xsd:string"/>
            <xsd:element name="receiverParticipantName" type="xsd:string"/>
            <xsd:element name="choreographyTaskName" type="xsd:string"/>
            <xsd:element name="inputMessageName" type="xsd:string"/>
            <xsd:element name="loopIndexes" type="xsd:string"/>
            <xsd:element name="inputMessageData" type="segmentTrafficInformationResponse"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="segmentTrafficInformationResponseElementRequest" type="segmentTrafficInformationResponseType"/>
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="segmentTrafficInformationResponseMessageRequest">
    <wsdl:part name="parameters" element="tns:segmentTrafficInformationResponseElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="areaOfInterestRequestMessageRequest">
    <wsdl:part name="parameters" element="tns:areaOfInterestRequestElementRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DTS-SEGMENT-TRAFFICSEADA-TRAFFICPT">
    <wsdl:operation name="setSegmentTrafficInformation">
      <wsdl:input message="tns:segmentTrafficInformationResponseMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TrafficInformationCollectorSEADA-TRAFFICPT">
    <wsdl:operation name="setAreaOfInterest">
      <wsdl:input message="tns:areaOfInterestRequestMessageRequest">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrafficInformationCollectorSEADA-TRAFFICBinding" type="tns:TrafficInformationCollectorSEADA-TRAFFICPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setAreaOfInterest">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DTS-SEGMENT-TRAFFICSEADA-TRAFFICBinding" type="tns:DTS-SEGMENT-TRAFFICSEADA-TRAFFICPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="setSegmentTrafficInformation">
      <soap:operation soapAction=""/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrafficInformationCollectorSEADA-TRAFFICService">
    <wsdl:port name="TrafficInformationCollectorSEADA-TRAFFICPort" binding="tns:TrafficInformationCollectorSEADA-TRAFFICBinding">
      <soap:address location="http://localhost:8080/ode/processes/TrafficInformationCollectorSEADA-TRAFFIC"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:service name="DTS-SEGMENT-TRAFFICSEADA-TRAFFICService">
    <wsdl:port name="DTS-SEGMENT-TRAFFICSEADA-TRAFFICPort" binding="tns:DTS-SEGMENT-TRAFFICSEADA-TRAFFICBinding">
      <soap:address location="http://localhost:8080/ode/processes/DTS-SEGMENT-TRAFFICSEADA-TRAFFIC"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
