cd-generator/src/test/resources/test_WP5_V2_CD-MobilityInformationPlanner_CHOReVOLUTION_STUDIO-loop-chor_task_num_exp/wsdls/parking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Parking"
	targetNamespace="http://it.softeco.chorevolution.smt/parking" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://it.softeco.chorevolution.smt/parking"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/parking">
			<xsd:element name="parkingRequest" type="tns:parkingRequest" />
			<xsd:element name="parkingResponse" type="tns:parkingResponse" />
			<xsd:complexType name="parkingRequest">
				<xsd:sequence>
					<xsd:element name="upperRightLat" type="xsd:double" />
					<xsd:element name="upperRightLon" type="xsd:double" />
					<xsd:element name="lowerLeftLat" type="xsd:double" />
					<xsd:element name="lowerLeftLon" type="xsd:double" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="parkingResponse">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="parkings" type="tns:ParkingType" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ParkingType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="operator" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="lat" type="xsd:double" />
					<xsd:element name="lon" type="xsd:double" />
					<xsd:element name="capacity" type="xsd:int" />
					<xsd:element name="freeSlots" type="xsd:int" />
					<xsd:element name="tariffs" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="parkingRequest">
		<part name="parameters" element="tns:parkingRequest">
		</part>
	</message>
	<message name="parkingResponse">
		<part name="parameters" element="tns:parkingResponse">
		</part>
	</message>
	<portType name="ParkingPT">
		<operation name="getParkingInformation">
			<input message="tns:parkingRequest">
			</input>
			<output message="tns:parkingResponse">
			</output>
		</operation>
	</portType>
	<binding name="ParkingBinding" type="tns:ParkingPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getParkingInformation">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="ParkingService">
		<port name="ParkingPort" binding="tns:ParkingBinding">
			<soap:address location="http://localhost:9090/parking/parking" />
		</port>
	</service>
</definitions>
