cd-generator/src/test/resources/test_WP5_V2_CD-MobilityInformationPlanner_CHOReVOLUTION_STUDIO-loop-chor_task_num_exp/wsdls/publicTransportation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="PublicTransportation"
	targetNamespace="http://it.softeco.chorevolution.smt/publictransportation"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:tns="http://it.softeco.chorevolution.smt/publictransportation"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/publictransportation">
			<xsd:element name="latestPTRequest" type="tns:latestPTRequest" />
			<xsd:element name="latestPTResponse" type="tns:latestPTResponse" />
			<xsd:complexType name="latestPTRequest">
				<xsd:sequence>
					<xsd:element name="type" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="latestPTResponse">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="publicTransportNews" type="tns:NewsType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="NewsType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="latestPTRequest">
		<part name="parameters" element="tns:latestPTRequest">
		</part>
	</message>
	<message name="latestPTResponse">
		<part name="parameters" element="tns:latestPTResponse">
		</part>
	</message>
	<portType name="PublicTransportationPT">
		<operation name="getPublicTransportationInfo">
			<input message="tns:latestPTRequest">
			</input>
			<output message="tns:latestPTResponse">
			</output>
		</operation>
	</portType>
	<binding name="PublicTransportationBinding" type="tns:PublicTransportationPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getPublicTransportationInfo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="PublicTransportationService">
		<port name="PublicTransportationPort" binding="tns:PublicTransportationBinding">
			<soap:address
				location="http://localhost:9090/publictransportation/publictransportation" />
		</port>
	</service>
</definitions>
