cd-generator/src/test/resources/test_WP5_V2_CD-MobilityInformationPlanner_CHOReVOLUTION_STUDIO-loop-chor_task_num_exp/wsdls/traffic.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Traffic"
	targetNamespace="http://it.softeco.chorevolution.smt/traffic" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://it.softeco.chorevolution.smt/traffic"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
	<types>
		<xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/traffic">
			<xsd:element name="trafficRequest" type="tns:trafficRequest" />
			<xsd:element name="trafficResponse" type="tns:trafficResponse" />
			<xsd:complexType name="trafficRequest">
				<xsd:sequence>
					<xsd:element name="upperRightLat" type="xsd:double" />
					<xsd:element name="upperRightLon" type="xsd:double" />
					<xsd:element name="lowerLeftLat" type="xsd:double" />
					<xsd:element name="lowerLeftLon" type="xsd:double" />
					<xsd:element name="type" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="trafficResponse">
				<xsd:sequence maxOccurs="unbounded" minOccurs="0">
					<xsd:element name="trafficInfos" type="tns:TrafficType" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="TrafficType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="lat" type="xsd:double" />
					<xsd:element name="lon" type="xsd:double" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="startDate" type="xsd:dateTime" />
					<xsd:element name="endDate" type="xsd:dateTime" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="trafficRequest">
		<part name="parameters" element="tns:trafficRequest">
		</part>
	</message>
	<message name="trafficResponse">
		<part name="parameters" element="tns:trafficResponse">
		</part>
	</message>
	<portType name="TrafficPT">
		<operation name="getTrafficInformation">
			<input message="tns:trafficRequest">
			</input>
			<output message="tns:trafficResponse">
			</output>
		</operation>
	</portType>
	<binding name="TrafficBinding" type="tns:TrafficPT">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="getTrafficInformation">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="TrafficService">
		<port name="TrafficPort" binding="tns:TrafficBinding">
			<soap:address location="http://localhost:9090/traffic/traffic" />
		</port>
	</service>
</definitions>
